

.container {
    background: black;
    text-align: center;
    height: 200px;
    width: 500px;
    border: solid;
    border-color: gray;
    border-style:dashed;
    border-radius: 20px;
    border-width: 10px;
}